#프로그래밍의 기본 : 산술연산, 변수, 출력
```

##변수

In [3]:
a = 1
b = 2
a+b

3

###ctrl + enter : 셀 실행
###shift + enter : 셀 실행 후 다음 셀로 이동
###alt + enter : 다음 셀까지 생성
###ctrl + mz : 셀 삭제
###ctrl + mb : 아래로 셀 생성
###ctrl + ma : 위로 셀 생성
###ctrl + mm : 셀을 텍스트로 바꾸기
###ctrl + my : 텍스트를 셀로 바꾸기
###ctrl + s : 저장

In [4]:
a = 4
b = 3
a+b

7

In [5]:
print(a+b)

7

##자료형과 자료구조

In [6]:
3 > 1

True

In [7]:
1 > 3

False

In [31]:
sample_list = [1,2,3,4,5,6,7,8,9,10]
sample_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
sample_list[0]

1

In [33]:
sample_list[8]

9

In [34]:
sample_tuple = (1,2,3,4,5,6,7,8,9,10)
sample_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [35]:
sample_tuple[0]

1

In [36]:
sample_tuple[8]

9

In [37]:
sample_list.remove(10)
sample_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]


#tuple은 값을 바꿀 수 없다
#list는 값을 바꿀 수 있다

In [38]:
sample_tuple.remove(10)

AttributeError: 'tuple' object has no attribute 'remove'

In [39]:
sample_dic = {'name' : ['John','Ann','Kevin'],'age':[23,22,21]}
sample_dic

{'name': ['John', 'Ann', 'Kevin'], 'age': [23, 22, 21]}

In [40]:
sample_dic['age']

[23, 22, 21]

In [42]:
sample_dic['name'][0]

'John'

##set 함수는 리스트에서 겹치지 않는 값만 뽑아낸다

In [43]:
set_list = [1,2,3,3,4,5,3,3]
set(set_list)

{1, 2, 3, 4, 5}

In [44]:
sample_set = set(set_list)
sample_set

{1, 2, 3, 4, 5}

In [45]:
sample_set[0]

TypeError: 'set' object is not subscriptable

##반복문 : for, while

In [46]:
for i in [1,2,3]:
  print(i)

1
2
3

In [47]:
a = 5
while a>0:
  print(a)
  a = a - 1

5
4
3
2
1

## 조건문 : if

In [48]:
x = 50
if x % 2 == 0:
  print('짝수')
else:
  print('홀수')

짝수

In [49]:
sample_list = [-3,5,0,-1,2]
# for i in [-3,5,0,-1,2]
for i in sample_list:
  if i > 0:
    print('positive')
  elif i < 0:
    print('negative')
  else :
    print("zero")

negative
positive
zero
negative
positive

## 함수 만들기 : def

In [50]:
def plus_ten(x):
  return x + 10

In [51]:
plus_ten(15)

25

In [52]:
def sum(a,b):
  return a+b

In [53]:
sum(10,5)

15

In [54]:
def sum_five(a,b=5):
  return a+b

In [57]:
sum_five(10)
##b값이 입력되지 않으면 기본으로 5값이 들어간다

15

In [58]:
sum_five(10,7)

17